/*add style.js to components */

.testing {
    border: 2px solid blue;
    margin-left: 10px;
}

.button {
    border: 5px solid green;
    margin-left: 20px;
}

li.list-group-item{
    text-align: center;
    vertical-align: center;
    font-weight:bold;
}

li.navOptions{
    display:inline-block;
    margin:1em;
}

article.boards{
    display:inline-block;
    width:25%;
}

.pageTabs{
    text-align: center;
}